<!-- <h1>PortManagers#index</h1>
<p>Find me in app/views/port_managers/index.html.erb</p> -->

<div class="logo_port"></div>
	<div class="wrapper">
		<div class="sales_lo">
			<!-- <div class="saleshl"><h1>sales team<h1></div> -->
			<div class="wo_show_wrap">
				<div class="po_ind_left">
					<div class="po_assign_head"></div>
						<div class="wo_show_owo">
							space for link to assign work order
						</div>	
						<div class="wo_show_owo">
							space for link to assign work order
						</div>
						<div class="wo_show_owo">
							space for link to assign work order
						</div>
						<div class="wo_show_owo">
							space for link to assign work order
						</div>
						<div class="wo_show_owo">
							space for link to assign work order
						</div>
				</div>
				<div class="po_ind_right">
				<div class="po_arrive_head"></div>
					<div class="wo_show_owo">
						space for link to open work order
					</div>	
					<div class="wo_show_owo">
						space for link to open work order
					</div>
					<div class="wo_show_owo">
						space for link to open work order
					</div>
					<div class="wo_show_owo">
						space for link to open work order
					</div>
					<div class="wo_show_owo">
						space for link to open work order
					</div>
				</div>
			</div>
        			<video autoplay loop id="sales_videobkg" muted poster="">
            		<source src="/assets/vids_home/port_main.mp4">
        			</video>
	</div>
</div>
