<h1>Containers#index</h1>
<p>Find me in app/views/containers/index.html.erb</p>

continer ID/ workorder/ weight/ cargo type/
<% @containers.each do |x| %> 
<%=x.id%>
<%=link_to x.weight, boat_path(x.id)%> <%=x.cargo_type%> 
 <br>




<%end%>



<br>


<% WorkOrder.all do |x|%>
							
							<%=  x.name %> ...port manager...
						
						
						<%end%> 