<table>
	
	<tr>
    <td>Line item</td>
    <td>Container type</td> 
    <td>50</td>
  </tr>

  
  <% (1..10).each do |i| %>
  
  <tr>
    <td><%= i %></td>
  
    <td>Jackson</td> 
    <td>94</td>
  </tr>
</table>
<%end%>