<div class="logo_sales"></div>
	<div class="wrapper">
		<div class="sales_lo">
			<!-- <div class="saleshl"><h1>sales team<h1></div> -->
			<div class="wo_show_wrap">
				<div class="wo_show_left">
					<div class="wo_head"></div>
					<div class="wo_show_bkg"></div>
					<!-- this needs to be swapped out with a turbolink code -->
					<div class="woshow_savebutt">save</div>
					<div class="wo_show">
						<% @container.each do |w|%> 
							<%= w.weight%> <%= w.cargo_type%>  <%= w.updated_at.strftime('%A, %B %d, %Y  %I:%M %p')%><br>

						<%end%>
					</div>
				</div>
				<div class="wo_show_right">
					<div class="wo_show_owo">
						space for link to open work order
					</div>	
					<div class="wo_show_owo">
						space for link to open work order
					</div>
					<div class="wo_show_owo">
						space for link to open work order
					</div>
					<div class="wo_show_owo">
						space for link to open work order
					</div>
					<div class="wo_show_owo">
						space for link to open work order
					</div>
				</div>
			</div>
        			<video autoplay loop id="sales_videobkg" muted poster="">
            		<source src="/assets/vids_home/wo_main.mp4">
        			</video>
	</div>
</div>