// Place all the styles related to the Boats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bo_create_head {
	width: 490px;
	height: 65px;
	margin-top: -5px;
	margin-left: 5px;
	margin-bottom: -9px;
	background-image: image-url('bo_create.svg');
	background-repeat:no-repeat;
	background-position: center;
	// background-color: rgba(48,182,255, 0.6);
}


.boat_create_p {
	width: 430px;
	height: 60px;
	margin-top: 5px;
	margin-left: 5px;
	padding: 30px;
	background: rgb(255,255,255);
	margin-bottom: 10px;
}
.bo_create_cont {
	left: 30%;
	width: 500px;
	height: 432px;
	margin-top: 30px;
	position: absolute;
	border-style: solid;
    border-width: 1px;
    border-color: rgb(255,255,255);
	z-index: 900;
	overflow: hidden;
}
.bo_submit {
	width: 150px;
	height: 40px;
	margin-top: 66px;
	margin-left: 270px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: rgb(187, 187, 187);
	padding: 0;
	border: none;
	// background: none;
	background: rgb(255,255,255);
	cursor: pointer;
	transition: 0.6s ease;
}
.bo_submit:hover {
	color: rgb(189, 8, 17);
	font-weight: 600;
	height: 60px;
}




.boat_show_ip {
	width: 430px;
	height: 20px;
	margin-top: 5px;
	margin-left: 5px;
	padding: 30px;
	background: rgb(255,255,255);
	margin-bottom: 10px;
	z-index:9999;
}
.bo_name {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
	color: rgb(189, 8, 17);
}
.bo_ind_left {
	left: 12%;
	width: 500px;
	height: 432px;
	margin-top: 30px;
	position: absolute;
	border-style: solid;
    border-width: 1px;
    border-color: rgb(255,255,255);
	z-index: 900;
	overflow: hidden;
}
.bo_inport_head {
	width: 490px;
	height: 65px;
	margin-top: -5px;
	margin-left: 5px;
	margin-bottom: -9px;
	background-image: image-url('bo_ip.svg');
	background-repeat:no-repeat;
	background-position: center;
	// background-color: rgba(48,182,255, 0.6);
}

// RIGHT SIDE - INDEX
.bo_ind_right {
	right: 14%;
	width: 500px;
	height: 432px;
	margin-top: 30px;
	position: absolute;
	border-style: solid;
    border-width: 1px;
    border-color: rgb(255,255,255);
	z-index: 900;
	overflow: hidden;
}
.bo_as_head {
	width: 490px;
	height: 45px;
	margin-top: 5px;
	margin-left: 5px;
	background-image: image-url('bo_as.svg');
	background-repeat:no-repeat;
	background-position: center;
	// background-color: rgba(48,182,255, 0.6);
}
.boat_show_as {
	width: 430px;
	height: 30px;
	margin-top: 5px;
	margin-left: 5px;
	padding: 30px;
	background: rgb(255,255,255);
	margin-bottom: 10px;
}

// SCROLL BAR STYLING
// LEFT
.bo_ind_left::-webkit-scrollbar {
    width: 0.3em;
}

.bo_ind_left::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.bo_ind_left::-webkit-scrollbar-thumb {
  background-color: rgba(40,172,255,0.7);
}

.bo_ind_left:hover {
	overflow-y: scroll;
	padding-right: 0px;
}

// RIGHT
.bo_ind_right::-webkit-scrollbar {
    width: 0.3em;
}

.bo_ind_right::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.bo_ind_right::-webkit-scrollbar-thumb {
  background-color: rgba(40,172,255,0.7);
}

.bo_ind_right:hover {
	overflow-y: scroll;
	padding-right: 0px;
}


