// Place all the styles related to the Salesmen controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content:center;
	align-items:center;
}
.sales_lo {
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height: 100%;
	overflow:hidden;
	z-index: 1;
}
.logo_sales {
	// display: flex;
	z-index: 9999;
	width: 300px;
	height: 300px;
	background-image: image-url('logo_home.svg');
	background-repeat:no-repeat;
	background-position: center;
	position: absolute;
    top: -60px;
    right: 2.5%;
}
.co_name {
	width: 343px;
	height: 20px;
}
table {
	width: 460px;
	margin-left: -10px;
}
td {
    padding: 2px;
    text-align: center;
}
.wo_wrap {
	left:0;
	position: absolute;
	top: 22%;
	width: 100%;
	height: 430px;
	background: rgba(255,255,255,0.4);
	z-index: 899;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: rgb(135, 135, 135);
}
.wo_submit {
	width: 150px;
	height: 40px;
	margin-top: 66px;
	margin-left: 270px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: rgb(187, 187, 187);
	padding: 0;
	border: none;
	// background: none;
	background: rgb(255,255,255);
	cursor: pointer;
	transition: 0.6s ease;
}
.wo_submit:hover {
	color: rgb(189, 8, 17);
	font-weight: 600;
}
.wo_left {
	left: 12%;
	width: 500px;
	height: 313px;
	margin-top: 30px;
	position: absolute;
	border-style: solid;
    border-width: 1px;
    border-color: rgb(255,255,255);
	z-index: 900;
}
.wo_right {
	right: 14%;
	width: 500px;
	height: 313px;
	margin-top: 30px;
	position: absolute;
	border-style: solid;
    border-width: 1px;
    border-color: rgb(255,255,255);
	z-index: 900;
}
.wo_create_r {
	width: 430px;
	height: 242px;
	margin-top: 5px;
	margin-left: 5px;
	padding: 30px;
	background: rgb(255,255,255);
}
.wo_create_l {
	position: absolute;
	width: 430px;
	height: 230px;
	margin-top: 5px;
	margin-left: 5px;
	padding: 30px;
	// background: rgb(255,255,255);
	z-index: 2;
}
.wo_bkg {
	position: absolute;
	width: 490px;
	height: 240px;
	margin-top: 5px;
	margin-left: 5px;
	// padding: 30px;
	background: rgb(255,255,255);
	z-index: 1;
}
.wo_head {
	width: 490px;
	height: 65px;
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: -8px;
	background-image: image-url('wo_head.svg');
}
#sales_videobkg {
  	position: relative;
  	left: 0;
  	height: 100vh;   
  	z-index: 1;
}