// Place all the styles related to the Salesmen controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logo_sales {
	// display: flex;
	z-index: 5;
	width: 200px;
	height: 200px;
	background-image: image-url('logo_home.svg');
	background-repeat:no-repeat;
	background-position: center;
	position: absolute;
    top: -40px;
    left: 0.1%;
}
.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content:center;
	align-items:center;
}
.sales_lo {
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height: 100%;
	overflow:hidden;
	z-index: 1;
}
.co_name {
	width: 343px;
	height: 20px;
}
table {
	width: 460px;
	margin-left: -10px;
}
td {
    padding: 2px;
    text-align: center;
}
.wo_wrap {
	left:0;
	position: absolute;
	top: 25%;
	width: 100%;
	height: 375px;
	background: rgba(255,255,255,0.4);
	z-index: 899;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: rgb(135, 135, 135);
}
.wo_submit {
	width: 150px;
	height: 40px;
	margin-top: 39px;
	margin-left: 270px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: rgb(187, 187, 187);
	padding: 0;
	border: none;
	// background: none;
	background: rgb(255,255,255);
	cursor: pointer;
	transition: 0.6s ease;
}
.wo_submit:hover {
	color: rgb(189, 8, 17);
	font-weight: 600;
	height: 60px;
}
.wo_left {
	left: 12%;
	width: 500px;
	height: 313px;
	margin-top: 30px;
	position: absolute;
	border-style: solid;
    border-width: 1px;
    border-color: rgb(255,255,255);
	z-index: 900;
}
.wo_right {
	right: 14%;
	width: 500px;
	height: 313px;
	margin-top: 30px;
	position: absolute;
	border-style: solid;
    border-width: 1px;
    border-color: rgb(255,255,255);
	z-index: 23;
}
.wo_create_l {
	position: absolute;
	width: 500px;
	height: 280px;
	margin-top: 5px;
	margin-left: 5px;
	padding: 30px;
	z-index: 24;
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-width: 250px;
	-moz-column-width: 250px;
    column-width: 250px;
    -webkit-column-gap: 60px;
    -moz-column-gap: 60px;
    column-gap: 60px;
}
.wo_create_r {
	width: 430px;
	height: 242px;
	margin-top: 5px;
	margin-left: 5px;
	padding: 30px;
	background: rgb(255,255,255);
}
.wo_bkg {
	position: absolute;
	width: 490px;
	height: 240px;
	margin-top: 5px;
	margin-left: 5px;
	// padding: 30px;
	background: rgb(255,255,255);
	z-index: 1;
}
.wo_head {
	width: 490px;
	height: 65px;
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: -8px;
	background-image: image-url('wo_head.svg');
}

//  WORK ORDER SHOW STYLING
.wo_show_wrap {
	left: 0;
	position: absolute;
	top: 17%;
	width: 100%;
	height: 490px;
	background: rgba(255,255,255,0.4);
	z-index: 899;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: rgb(135, 135, 135);
}
.wo_show_left {
	left: 12%;
	width: 500px;
	height: 432px;
	margin-top: 30px;
	position: absolute;
	border-style: solid;
    border-width: 1px;
    border-color: rgb(255,255,255);
	z-index: 900;
}
.wo_show {
	position: absolute;
	width: 430px;
	height: 430px;
	margin-top: 5px;
	margin-left: 5px;
	padding: 30px;
	z-index: 2;
}
.wo_show_bkg {
	position: absolute;
	width: 490px;
	height: 360px;
	margin-top: 5px;
	margin-left: 5px;
	background: rgb(255,255,255);
	z-index: 1;
}
.wo_show table {
	margin-top: 20px;
}
.wo_editbutt {
	width: 150px;
	height: 40px;
	margin-top: 87px;
	margin-left: 270px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: rgb(187, 187, 187);
	padding: 0;
	border: none;
	// background: none;
	background: rgb(255,255,255);
	cursor: pointer;
	transition: 0.6s ease;
}
.wo_editbutt:hover {
	color: rgb(189, 8, 17);
	font-weight: 600;
	height: 60px;
}
.wo_show_right {
	right: 14%;
	width: 500px;
	height: 432px;
	margin-top: 30px;
	position: absolute;
	border-style: solid;
    border-width: 1px;
    border-color: rgb(255,255,255);
	z-index: 900;
	overflow: hidden;
}
// SCROLL BAR STYLING
.wo_show_right::-webkit-scrollbar {
    width: 0.3em;
}

.wo_show_right::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.wo_show_right::-webkit-scrollbar-thumb {
  background-color: rgba(40,172,255,0.7);
}

.wo_show_right:hover {
	overflow-y: scroll;
	padding-right: 0px;
}
.wo_show_owo {
	width: 430px;
	height: 30px;
	margin-top: 5px;
	margin-left: 5px;
	padding: 30px;
	background: rgb(255,255,255);
	margin-bottom: 10px;
}




// BACKGROUD VIDEO FILE(s)
#sales_videobkg {
  	position: relative;
  	left: 0;
  	top:0;
  	// height: 100vh;
  	width: 100vw;   
  	z-index: 1;
}
