// Place all the styles related to the Work_Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wo_show_left {
	right: 14%;
	width: 500px;
	height: 432px;
	margin-top: 30px;
	position: absolute;
	border-style: solid;
    border-width: 1px;
    border-color: rgb(255,255,255);
	z-index: 900;
}

.wo_show_right {
	right: 14%;
	width: 500px;
	height: 432px;
	margin-top: 30px;
	position: absolute;
	border-style: solid;
    border-width: 1px;
    border-color: rgb(255,255,255);
	z-index: 900;
}

.wo_open_head {
	width: 490px;
	height: 65px;
	margin-top: -5px;
	margin-left: 5px;
	margin-bottom: -9px;
	background-image: image-url('wo_open.svg');
	background-repeat:no-repeat;
	background-position: center;
	background-color: rgba(48,182,255, 0.3);
}

.wo_closed_head {
	width: 490px;
	height: 65px;
	margin-top: -5px;
	margin-left: 5px;
	margin-bottom: -9px;
	background-image: image-url('wo_closed.svg');
	background-repeat:no-repeat;
	background-position: center;
	background-color: rgba(48,182,255, 0.3);
}
.woshow_editbutt {
	display: flex;
	width: 150px;
	height: 40px;
	margin-top: 365px;
	margin-left: 270px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: rgb(187, 187, 187);
	padding: 0;
	border: none;
	// background: none;
	background: rgb(255,255,255);
	cursor: pointer;
	transition: 0.6s ease;
	z-index: 400;
	text-align:center;
	justify-content:center;
	align-items:center;
}
.woshow_editbutt:hover {
	color: rgb(189, 8, 17);
	font-weight: 600;
	height: 60px;
}
.woshow_savebutt {
	display: flex;
	width: 150px;
	height: 40px;
	margin-top: 365px;
	margin-left: 270px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: rgb(187, 187, 187);
	padding: 0;
	border: none;
	// background: none;
	background: rgb(255,255,255);
	cursor: pointer;
	transition: 0.6s ease;
	z-index: 400;
	text-align:center;
	justify-content:center;
	align-items:center;
}
.woshow_savebutt:hover {
	color: rgb(189, 8, 17);
	font-weight: 600;
	height: 60px;
}

.wo_edit {
	position: absolute;
	width: 430px;
	height: 430px;
	margin-top: 5px;
	margin-left: 5px;
	padding: 30px;
	z-index: 500;
}
.wo_detail {
	width: 430px;
	height: 300px;
	margin-top: 5px;
	margin-left: 5px;
	padding: 30px;
	background: rgb(255,255,255);
	margin-bottom: 10px;
	z-index:9999;
	overflow: hidden;
}
// SCROLL BAR STYLING
// WORK ORDER
.wo_detail::-webkit-scrollbar {
    width: 0.3em;
}

.wo_detail::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.wo_detail::-webkit-scrollbar-thumb {
  background-color: rgba(40,172,255,0.7);
}

.wo_detail:hover {
	overflow-y: scroll;
	padding-right: 30px;
}

.wo_open {
	width: 495px;
	height: 370px;
	margin-top: 5px;
	margin-left: 0px;
	// padding: 30px;
	// background: rgb(255,255,255);
	margin-bottom: 10px;
	z-index:9999;
	overflow: hidden;
}
// SCROLL BAR STYLING
// WORK ORDER
.wo_open::-webkit-scrollbar {
    width: 0.3em;
}

.wo_open::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.wo_open::-webkit-scrollbar-thumb {
  background-color: rgba(40,172,255,0.7);
}

.wo_open:hover {
	overflow-y: scroll;
	padding-right: 0px;
}