<!-- go through each boat's information and print to the page -->
<% @boats.each do |b| %>
	<p>Name: <%= b.name %></p>
	<p>Container Limit: <%= b.container_limit %></p>
	<p>Last updated at: <%= b.updated_at %></p>
	<% if b.at_sea == true %>
		<p>This boat is at sea currently!</p>
	<% else %>
		<p>This port is in port.</p>
	<% end %>
	<% if b.destination_port_manager_id %>
		<p>This boat is going to: <%= b.destination_port_manager_id %></p>
	<% end %>
<% end %>