
<!-- <h1>All the Boats:</h1> -->

<div class="logo_port"></div>
	<div class="wrapper">
		<div class="sales_lo">
			<div class="wo_show_wrap">
				<div class="bo_ind_left">
					<div class="bo_inport_head"></div>
						<div class="boat_show_ip">
							space for link to show boat in port
						</div>	
						<div class="boat_show_ip">
							space for link to show boat in port
						</div>
						<div class="boat_show_ip">
							space for link to show boat in port
						</div>
						<div class="boat_show_ip">
							space for link to show boat in port
						</div>
						<div class="boat_show_ip">
							space for link to show boat in port
						</div>
				</div>
				<div class="bo_ind_right">
				<div class="bo_as_head"></div>
					<div class="boat_show_as">
						space for link to show boat to arrive
					</div>	
					<div class="boat_show_as">
						space for link to show boat to arrive
					</div>
					<div class="boat_show_as">
						space for link to show boat to arrive
					</div>
					<div class="boat_show_as">
						space for link to show boat to arrive
					</div>
					<div class="boat_show_as">
						space for link to show boat to arrive
					</div>
				</div>
			</div>
        			<video autoplay loop id="sales_videobkg" muted poster="">
            		<source src="/assets/vids_home/boats_main.mp4">
        			</video>
	</div>
</div>
